<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--To process a specific day, it is possible to specify here the date.-->
    <!--If a date is specified the KEY "DaysBack" will be ignored.-->
    <!--If no day is specified the current day will be processed.-->
    <add key="SpecificDateYear" value=""/>
    <add key="SpecificDateMonth" value=""/>
    <add key="SpecificDateDay" value=""/>
    <!--Specifies if the processed data (combined NAV file) should be deleted if the processing finished successfully.-->
    <add key="DeleteIfOK" value="false"/>  <!-- not to delete the testdata -->
    <!--Specifies how many days back from the current day the processing should goes.-->
    <add key="DaysBack" value="20"/>
    <!--Defines the shop path.-->
    <add key="ShopPath" value="d:\tmp\processing_meta_aige\out_shop\"/>
    <!--Defines the logging path-->
    <add key="LogPath" value="d:\tmp\processing_meta_aige\log\"/>
    <!--Defines the logfile name-->
    <add key="LogFile" value="RinexNavigationFileSplitter.log"/>
    <!--Defines how often in seconds the logwriter should write the messages into the logfile.-->
    <add key="FlushAtAge" value="1"/>
    <!--Defines from how many elements in the Queue these should be written to the logfile.-->
    <add key="FlushAtQty" value="1"/>
  </appSettings>
</configuration>
